html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #DFE5EA;
  background-image: url('./paper_texture.png');
  background-size: 100%;
  /*background-color: #9abae0;*/
}

h1 {
  text-align: center;
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: arial;
  font-size: 17px;
}

.cartodb-searchbox {
  position: fixed;
  right: 0px;
  top: 0px;
}

#iframe-container {
  width: 370px; height: 220px;
  overflow: hidden;
  position: relative;
left: 20px;
top: 300px;
}

#iframe {
  width: 1280px; height: 1200px; position: absolute; /*left: 20px; top: 400px;*/
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table, td {
  border: 2px solid white;
  border-collapse: collapse;
}
td {
  padding: 10px;
}
tr {
  height: 75px;
}
table td:first-child, table td:last-child  {
  font-style: italic;
  font-weight: none;
  font-size: 11px;
  width: 55px;
}

#species-tooltip {
  display: none;
  position: absolute;
  top: 10px;
  left: 100px;
  width: 420px;
  height: 270px;
  margin-left: -420px;
  margin-top: -270px;
  background-color: #c9c9c9;
  opacity: 0.9;
  border-radius: 8px;
  overflow-y: scroll;
}

#species-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  margin-top: 20px;
  text-align: center;
}

#species-facts {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica;
  position: absolute;
  top: 230px;
  width: 96%;
  height: 100px;
  left: 2%;
}

.species-span {
  font-size: 16px;
  font-style: italic;
  width: 280px;
  position: absolute;
  left: 120px;
  display: block;
  text-align: left;
}

.species-pic {
  width: 100px;
  position: absolute;
  left: 15px;
}

#tool-tip {
  pointer-events: none;
  position: absolute;
  right: 25px;
  bottom: 20px;
  width: 375px;
  height: 325px;
  z-index: 50;
}

#tooltip-info {
  position: absolute;
  right: 130px;
  bottom: 20px;
  width: 155px;
  height: 340px;
  /*bottom: 360px;
  right: 325px;*/
  z-index: 100;
  pointer-events: none;
}

#biome-label {
  margin-top: 130px;
}

span {
  color:#323232;
  font-size: 12px;
  font-family: arial;
  text-align: center;
  display: block;
}

#tooltip-info span {
  color: #fff;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

#protections span, #globals span {
  display:none;
  font-size: 18px !important;
  color: #08b900 !important;
  font-weight: bold;
}

#biome-specifics {
  display: none;
}

.leaflet-control-attribution {display: none;}

a {
  color:#4c52ff;
  text-decoration: none;
}
#legends {
  position: absolute;
  left:10px;
  bottom:10px;
}
.legend {
  width:210px;
  height: 67px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #a4a2a2;
  box-shadow: rgba(0,0,0,0.2) 0 0 4px 2px;
  opacity: 1;
}
.legend div {
  width:30px;
  height:22px;
  display: table-cell;
  margin:0;
  padding: 0;
}
.left {
  position: absolute;
  left:15px;
  top:30px;
  font-family: arial;   
  font-size: 13px;
  color: #6b6a6a;
}
.right {
  position: absolute;
  right:15px;
  top:30px;
  font-family: arial;   
  font-size: 13px;
  color: #6b6a6a;
}
.colors {
  position: absolute;
  left: 15px;
  top: 46px;
  border: 1px solid #a4a2a2;
  width:180px;
}
.legend_title {
  text-align: center;
  margin-top: 5px;
  font-family: arial;
  font-size: 13px;
  color: #6b6a6a;
}

#rotated_text {
  position: absolute;
  top: 43px;
  left: -22px;
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 90px;
  height: 29px;
   /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.handle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  top: -1px !important;
}

#slide_out_info {
  width: 500px;  /*350*/
  height: 50%;
  border-radius: 0 0 10px 0px;
  background: #ccc;
  border: 1px solid #a4a2a2;
  background-color: white;
  opacity: .9;
  z-index: 50;
}

.content {
  height: 100%;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.text {
  padding: 20px;
}
